//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('OpenSans-Light', 'OpenSans', 'OpenSans-Light',  normal, normal)
webfont('OpenSans-LightItalic', 'OpenSans', 'OpenSans-LightItalic',  normal, normal)

webfont('OpenSans-Regular', 'OpenSans', 'OpenSans-Regular',  normal, normal)

webfont('OpenSans-Bold', 'OpenSans', 'OpenSans-Bold',  normal, normal)
webfont('OpenSans-BoldItalic', 'OpenSans', 'OpenSans-BoldItalic',  normal, normal)

webfont('OpenSans-ExtraBold', 'OpenSans', 'OpenSans-ExtraBold',  normal, normal)
webfont('OpenSans-ExtraBoldItalic', 'OpenSans', 'OpenSans-ExtraBoldItalic',  normal, normal)

webfont('OpenSans-SemiBold', 'OpenSans', 'OpenSans-SemiBold',  normal, normal)
webfont('OpenSans-SemiBoldItalic', 'OpenSans', 'OpenSans-SemiBoldItalic',  normal, normal)

webfont('PTSans-Narrow', 'PTSansNarrow', 'PTSans-Narrow',  normal, normal)
webfont('PTSans-NarrowBold', 'PTSansNarrow', 'PTSans-NarrowBold',  normal, normal)

