{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">
				<div class="promo-slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide">
									<div class="container">
										<div class="row align-vertical-center align-horisontal-between promo-slide__row">
											<div class="promo-slide__content">
												<h2 class="promo-slide__title">Новый одночастотный лазер серии <strong>Duetto 349 UV</strong> <br>от Unik Lasers!</h2>
												<a href="page-brand.html" class="btn">Прочитать</a>
											</div>
											<div class="promo-slide__img">
												<img src="img/promo/1.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide">
									<div class="container">
										<div class="row align-vertical-center align-horisontal-between promo-slide__row">
											<div class="promo-slide__content">
												<h2 class="promo-slide__title"><strong>Duetto 349 UV</strong> <br>от Unik Lasers!</h2>
												<a href="page-brand.html" class="btn">Прочитать</a>
											</div>
											<div class="promo-slide__img">
												<img src="img/promo/2.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>
					</div>

					<div class="slider-pagination js-promo-slider-pagination"></div>
				</div>
			</section>

			<!-- Section categories -->
			<section class="sect__categories-cards">
				<div class="container">
					<div class="categories-cards">
						<div class="row align-horisontal-start categories-cards__row">
							<!-- Category -->
							<div class="category-card__wrapper col-w-25">
								<div class="category-card">
									<a href="page-catalog.html" class="category-card__thumbnail">
										<img src="img/categories/1.png" alt="">
									</a>
									<h2 class="category-card__title decor-title">
										<a href="page-catalog.html">Оптомеханика</a>
									</h2>
									<ul>
										<li><a href="page-subcatalog.html">Оптические столы</a></li>
										<li><a href="page-subcatalog.html">Оптомеханические компоненты</a></li>
										<li><a href="page-subcatalog.html">Оптомеханические устройства</a></li>
										<li><a href="page-subcatalog.html">Оптомеханические наборы</a></li>
									</ul>
								</div>
							</div>
							<!--// Category -->

							<!-- Category -->
							<div class="category-card__wrapper col-w-25">
								<div class="category-card">
									<a href="page-catalog.html" class="category-card__thumbnail">
										<img src="img/categories/2.png" alt="">
									</a>
									<h2 class="category-card__title decor-title">
										<a href="page-catalog.html">Волоконные компоненты</a>
									</h2>
									<ul>
										<li><a href="page-subcatalog.html">Обработка и проверка волокон</a></li>
										<li><a href="page-subcatalog.html">Оптические волокна <br>и патч-корды</a></li>
										<li><a href="page-subcatalog.html">Волоконная оптомеханика</a></li>
										<li><a href="page-subcatalog.html">Волоконные компоненты</a></li>
									</ul>
								</div>
							</div>
							<!--// Category -->

							<!-- Category -->
							<div class="category-card__wrapper col-w-25">
								<div class="category-card">
									<a href="page-catalog.html" class="category-card__thumbnail">
										<img src="img/categories/3.png" alt="">
									</a>
									<h2 class="category-card__title decor-title">
										<a href="page-catalog.html">Источники излучения</a>
									</h2>
									<ul>
										<li><a href="page-subcatalog.html">Когерентные источники</a></li>
										<li><a href="page-subcatalog.html">Некогерентные источники</a></li>
										<li><a href="page-subcatalog.html">Драйверы</a></li>
										<li><a href="page-subcatalog.html">Аксессуары</a></li>
									</ul>
								</div>
							</div>
							<!--// Category -->

							<!-- Category -->
							<div class="category-card__wrapper col-w-25">
								<div class="category-card">
									<a href="page-catalog.html" class="category-card__thumbnail">
										<img src="img/categories/4.png" alt="">
									</a>
									<h2 class="category-card__title decor-title">
										<a href="page-catalog.html">Оптика</a>
									</h2>
									<ul>
										<li><a href="page-subcatalog.html">Оптические элементы</a></li>
										<li><a href="page-subcatalog.html">Поляризационная оптика</a></li>
										<li><a href="page-subcatalog.html">Оптические системы</a></li>
										<li><a href="page-subcatalog.html">Оптические изоляторы</a></li>
										<li><a href="page-subcatalog.html">Оптические наборы</a></li>
									</ul>
								</div>
							</div>
							<!--// Category -->

							<!-- Category -->
							<div class="category-card__wrapper col-w-25">
								<div class="category-card">
									<a href="page-catalog.html" class="category-card__thumbnail">
										<img src="img/categories/5.png" alt="">
									</a>
									<h2 class="category-card__title decor-title">
										<a href="page-catalog.html">Системы регистрации излучения</a>
									</h2>
									<ul>
										<li><a href="page-subcatalog.html">Измерители мощности и энергии</a></li>
										<li><a href="page-subcatalog.html">Детекторы</a></li>
										<li><a href="page-subcatalog.html">Анализаторы пучка</a></li>
										<li><a href="page-subcatalog.html">Поляризационные инструменты</a></li>
										<li><a href="page-subcatalog.html">Электронные аксессуары</a></li>
										<li><a href="page-subcatalog.html">Системы визуализации</a></li>
										<li><a href="page-subcatalog.html">Научные камеры</a></li>

									</ul>
								</div>
							</div>
							<!--// Category -->

							<!-- Category -->
							<div class="category-card__wrapper col-w-25">
								<div class="category-card">
									<a href="page-catalog.html" class="category-card__thumbnail">
										<img src="img/categories/6.png" alt="">
									</a>
									<h2 class="category-card__title decor-title">
										<a href="page-catalog.html">Системы позиционирования</a>
									</h2>
									<ul>
										<li><a href="page-subcatalog.html">Оптические элементы</a></li>
										<li><a href="page-subcatalog.html">Поляризационная оптика</a></li>
										<li><a href="page-subcatalog.html">Оптические системы</a></li>
										<li><a href="page-subcatalog.html">Оптические изоляторы</a></li>
										<li><a href="page-subcatalog.html">Оптические наборы</a></li>
									</ul>
								</div>
							</div>
							<!--// Category -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section categories -->

			<!-- Section brands -->
			<section class="sect__brands-cards">
				<div class="container">
					{% include '../parts/sections/brands-cards.html' %}
				</div>
				<!-- //container -->
			</section>
			<!-- //Section brands -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>