{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light page-article">

				<div class="container">

					<div class="article-container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Заголовок новости или статьи "знания"</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->


						<article class="article">
							<h1 class="page-title block-title">Успешная экспериментальная демонстрация квантового превосходства с использованием детекторов <strong>id230</strong> от <strong>id quantique</strong></h1>
							<span class="article-date decor-title">29 Марта 2021</span>
							<div class="article-content content">
								<img src="img/article-img.png" alt="">
								<p>В последние годы многие вычислительные задачи были предложены в качестве кандидатов на <b>демонстрацию квантового вычислительного превосходства</b>, то есть преимущества во времени, необходимом для выполнения задачи с использованием квантовых кубитов вместо классических битов.</p>
								<blockquote>Тем не менее, практическая демонстрация такого преимущества остается особенно сложной задачей из-за сложности объединения всех необходимых теоретических и экспериментальных компонентов в единую систему.</blockquote>
								<p>После того, как <b>Google</b> и <b>Китай</b> заявили о разработке квантовых компьютеров, Национальный центр научных исследований (CNRS) во Франции экспериментально продемонстрировал вычислительное преимущество над классической машиной! </p>
								<p><strong>Это очень важный прорыв и первый в Европе прототип квантового компьютера.</strong></p>
								<img src="img/article-img-2.png" alt="">
								<p>В последние годы многие вычислительные задачи были предложены в качестве кандидатов на <b>демонстрацию квантового вычислительного превосходства</b>, то есть преимущества во времени, необходимом для выполнения задачи с использованием квантовых кубитов вместо классических битов.</p>
								<blockquote>Тем не менее, практическая демонстрация такого преимущества остается особенно сложной задачей из-за сложности объединения всех необходимых теоретических и экспериментальных компонентов в единую систему.</blockquote>
								<p>После того, как <b>Google</b> и <b>Китай</b> заявили о разработке квантовых компьютеров, Национальный центр научных исследований (CNRS) во Франции экспериментально продемонстрировал вычислительное преимущество над классической машиной! </p>
								<p><strong>Это очень важный прорыв и первый в Европе прототип квантового компьютера.</strong></p>
								<img src="img/article-img-3.png" alt="">
								<p>В последние годы многие вычислительные задачи были предложены в качестве кандидатов на <b>демонстрацию квантового вычислительного превосходства</b>, то есть преимущества во времени, необходимом для выполнения задачи с использованием квантовых кубитов вместо классических битов.</p>
								<blockquote>Тем не менее, практическая демонстрация такого преимущества остается особенно сложной задачей из-за сложности объединения всех необходимых теоретических и экспериментальных компонентов в единую систему.</blockquote>
								<p>После того, как <b>Google</b> и <b>Китай</b> заявили о разработке квантовых компьютеров, Национальный центр научных исследований (CNRS) во Франции экспериментально продемонстрировал вычислительное преимущество над классической машиной! </p>
								<p><strong>Это очень важный прорыв и первый в Европе прототип квантового компьютера.</strong></p>

								<h2>h2</h2>
								<h3>h3</h3>
								<h4>h4</h4>
								<h5>h5</h5>
								<h6>h6</h6>

								<ul>
									<li>Далеко-далеко за словесными, <a href="#">горами в стране гласных</a> и согласных живут рыбные тексты.</li>
									<li>Точках приставка парадигматическая несколько алфавит предупредила, заглавных большого сих за.</li>
									<li>Парадигматическая рекламных рукопись дал лучше. Живет, бросил. Инициал необходимыми, это.</li>
									<li>Заголовок, lorem? Маленькая большой lorem букв путь диких курсивных безопасную.</li>
									<li>Своих жизни взгляд злых, курсивных домах не залетают щеке свое.</li>
									<li>Использовало ведущими гор несколько парадигматическая напоивший страна. Предупредила переулка, точках.</li>
								</ul>

								<ol>
									<li>Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты.</li>
									<li>Точках приставка парадигматическая несколько алфавит предупредила, заглавных большого сих за.</li>
									<li>Парадигматическая рекламных рукопись дал лучше. Живет, бросил. Инициал необходимыми, это.</li>
									<li>Заголовок, lorem? Маленькая большой lorem букв путь диких курсивных безопасную.</li>
									<li>Своих жизни взгляд злых, курсивных домах не залетают щеке свое.</li>
									<li>Использовало ведущими гор несколько парадигматическая напоивший страна. Предупредила переулка, точках.</li>
								</ol>

							</div>
						</article>

					</div>
				</div>
				<!-- //container -->

			</section>

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>