{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light ">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Корзина</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title">Корзина</h1>

					</div>
					<!-- //container -->
				</div>



				<div class="cart__wrapper">
					<div class="container">

						<!-- Cart -->
						<div class="cart">
							<div class="cart-header">
								<div class="row align-horisontal-between cart__row">
									<div class="cart-col">
										<span>Наименование</span>
									</div>
									<!-- //col -->
									<div class="cart-col">
										<span>Цена</span>
									</div>
									<!-- //col -->
									<div class="cart-col">
										<span>Количество</span>
									</div>
									<!-- //col -->
									<div class="cart-col text-center">
										<span>Сумма</span>
									</div>
									<!-- //col -->
								</div>
							</div>

							<div class="cart-products">

								<!-- Product -->
								<div class="cart-product">


									<div class="row align-vertical-center align-horisontal-between cart__row">
										<div class="cart-col">
											<div class="cart-product__information">

												<label class="form-checkbox__label">
													<input name="cart-product" type="checkbox" checked>
													<span class="form-checkbox form-checkbox__static"></span>
												</label>

												<a href="page-product.html" class="cart-product__thumbnail">
													<img src="img/mini.png" alt="">
												</a>
												<h2 class="cart-product__title">
													<a href="page-product.html">Высокоскоростной предусилитель серии FIP</a>
												</h2>
											</div>
										</div>
										<!-- //col -->

										<div class="cart-col text-right" data-label="Цена">
											<p>9 890 ₽</p>
										</div>
										<!-- //col -->

										<div class="cart-col" data-label="Кол-во">

											<div class="product-quantity">
												<button type="button" class="product-quantity__btn minus js-quantity-btn" data-action="minus"></button>
												<input type="number" class="product-quantity__input js-quantity-input"  min="1" name="quantity" value="1">
												<span class="product-quantity__unit">1</span>
												<button type="button" class="product-quantity__btn plus js-quantity-btn" data-action="plus"></button>
											</div>

										</div>
										<!-- //col -->

										<div class="cart-col text-right" data-label="Сумма">
											<p>3 100 000 ₽</p>
										</div>
										<!-- //col -->
									</div>

									<!-- Delete -->
									<button class="btn-delete" type="button">
										<svg viewBox="0 0 311 311.07733"  xmlns="http://www.w3.org/2000/svg"><path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"/><path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"/></svg>
										<span>Удалить</span>
									</button>
									<!-- //Delete -->
								</div>
								<!-- /Product -->

								<!-- Product -->
								<div class="cart-product">



									<div class="row align-vertical-center align-horisontal-between cart__row">
										<div class="cart-col">
											<div class="cart-product__information">

												<label class="form-checkbox__label">
													<input name="cart-product" type="checkbox" checked>
													<span class="form-checkbox form-checkbox__static"></span>
												</label>

												<a href="page-product.html" class="cart-product__thumbnail">
													<img src="img/mini.png" alt="">
												</a>
												<h2 class="cart-product__title">
													<a href="page-product.html">Высокоскоростной предусилитель серии FIP</a>
												</h2>
											</div>
										</div>
										<!-- //col -->

										<div class="cart-col text-right" data-label="Цена">
											<p>890 ₽</p>
										</div>
										<!-- //col -->

										<div class="cart-col" data-label="Кол-во">

											<div class="product-quantity">
												<button type="button" class="product-quantity__btn minus js-quantity-btn" data-action="minus"></button>
												<input type="number" class="product-quantity__input js-quantity-input"  min="1" name="quantity" value="1">
												<span class="product-quantity__unit">1</span>
												<button type="button" class="product-quantity__btn plus js-quantity-btn" data-action="plus"></button>
											</div>

										</div>
										<!-- //col -->

										<div class="cart-col text-right" data-label="Сумма">
											<p>1200 ₽</p>
										</div>
										<!-- //col -->
									</div>

									<!-- Delete -->
									<button class="btn-delete" type="button">
										<svg viewBox="0 0 311 311.07733"  xmlns="http://www.w3.org/2000/svg"><path d="m16.035156 311.078125c-4.097656 0-8.195312-1.558594-11.308594-4.695313-6.25-6.25-6.25-16.382812 0-22.632812l279.0625-279.0625c6.25-6.25 16.382813-6.25 22.632813 0s6.25 16.382812 0 22.636719l-279.058594 279.058593c-3.136719 3.117188-7.234375 4.695313-11.328125 4.695313zm0 0"/><path d="m295.117188 311.078125c-4.097657 0-8.191407-1.558594-11.308594-4.695313l-279.082032-279.058593c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.636719 0l279.058594 279.0625c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.230469 4.695313-11.304687 4.695313zm0 0"/></svg>
										<span>Удалить</span>
									</button>
									<!-- //Delete -->
								</div>
								<!-- /Product -->

							</div>


							<div class="cart-footer">
								<div class="cart-total">
									<p><span>Итого:</span> 3 424 170 ₽</p>
								</div>
							</div>

						</div>
						<!-- //Cart -->

						<div class="cart-checkout">
							<h2 class="block-title">Оформление заказа</h2>

							<form>
								<div class="row form-groups__row row-gutters">
									<div class="form-groups__col col-gutters">
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">ФИО <span class="required">*</span></span>
												<input type="text" name="name" class="form-input js-required-input is-error">
											</label>
										</div>

										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Эл. почта <span class="required">*</span></span>
												<input type="email" name="email" class="form-input js-required-input is-error">
											</label>
										</div>

										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Телефон</span>
												<input type="tel" name="phone" class="form-input ">
											</label>
										</div>

										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Компания</span>
												<input type="text" name="copmany-name" class="form-input">
											</label>
										</div>
									</div>
									<!-- //col -->

									<div class="form-groups__col col-gutters">
										<div class="form-group">
											<label class="form-group__label form-group__label--textarea">
												<span class="form-group__label--text">Комментарий</span>
												<textarea name="comment" class="form-input form-textarea"></textarea>
											</label>
										</div>
									</div>
									<!-- //col -->

								</div>
								<!-- //row -->

								<p class="form-notice"><span class="required">*</span> Поля обязательные для заполнения</p>

								<div class="form-group">
									<label class="form-checkbox__label">
										<input name="privacy-policy" type="checkbox" checked>
										<span class="form-checkbox">Соглашаюсь с политикой обработки персональных данных</span>
									</label>
								</div>

								<button class="btn" type="submit">Оформить заказ</button>

								<p class="error is-error">Пожалуйста, заполните все обязательные поля</p>
							</form>
						</div>

					</div>
					<!-- //container -->
				</div>
				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		<!-- Cart success -->
		{% include '../parts/components/popups/cart-thanks.html' %}
		<!-- //Cart success -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>