{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="https://logodomik.ru/" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Вход/регистрация</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title">Вход/регистрация</h1>

					</div>
					<!-- //container -->
				</div>


				<div class="login">
					<div class="container">
						<div class="login-tabs">

							<div class="tab-controls">
								<button class="js-tab-btn btn-tab is-active" type="button"><span>Вход</span></button>
								<button class="js-tab-btn btn-tab" type="button"><span>Регистрация</span></button>
							</div>

							<div class="tab-content">
								<!-- Login -->
								<div class="tab-content-item js-tab-content">
									<form>
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Электронная почта <span class="required">*</span></span></span>
												<input type="email" name="login-email" class="form-input js-required-input">
											</label>
										</div>
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Пароль <span class="required">*</span></span>
												<input type="password" name="login-password" class="form-input js-required-input">
											</label>
										</div>

										<button class="btn" type="submit">Войти</button>

										<p class="error">Пожалуйста, заполните все обязательные поля</p>
									</form>
								</div>
								<!-- //Login -->

								<!-- Registration -->
								<div class="tab-content-item js-tab-content">
									<form class="is-error">
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Введите ваше ФИО <span class="required">*</span></span>
												<input type="text" name="reg-name" class="form-input js-required-input">
											</label>
										</div>
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Введите вашу эл. почту <span class="required">*</span></span>
												<input type="email" name="reg-email" class="form-input js-required-input">
											</label>
										</div>
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Введите ваш телефон</span>
												<input type="tel" name="reg-phone" class="form-input">
											</label>
										</div>
										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Введите название вашей компании</span>
												<input type="text" name="reg-company-name" class="form-input">
											</label>
										</div>

										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Введите ваш адрес</span>
												<input type="text" name="reg-address" class="form-input">
											</label>
										</div>

										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Введите ваш пароль <span class="required">*</span></span>
												<input type="password" name="reg-password" class="form-input js-required-input">
											</label>
										</div>

										<div class="form-group">
											<label class="form-group__label">
												<span class="form-group__label--text">Повторите ваш пароль <span class="required">*</span></span>
												<input type="password" name="reg-password-repeat" class="form-input js-required-input">
											</label>
										</div>

										<p class="form-notice"><span class="required">*</span> Поля обязательные для заполнения</p>

										<div class="form-group">
											<label class="form-checkbox__label">
												<input name="privacy-policy" type="checkbox" checked>
												<span class="form-checkbox">Соглашаюсь с политикой обработки персональных данных</span>
											</label>
										</div>

										<button class="btn btn-transparent-accent" type="submit">Регистрация</button>

										<p class="error">Пожалуйста, заполните все обязательные поля</p>
									</form>
								</div>
								<!-- //Registration -->
							</div>
						</div>
					</div>
					<!-- //container -->
				</div>




				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>