{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light page-catalog">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Новости</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title block-title">Новости</h1>

					</div>
					<!-- //container -->
				</div>


				<div class="articles">
					<div class="container">

						<div class="articles-cards">
							<div class="row align-horisontal-start articles-cards__row row-gutters">
								<!-- Card -->
								<div class="article-card__wrapper col-w-50 col-gutters">
									<article class="article-card card">
										
										<a href="page-article.html" class="article-card__thumbnail thumbnail">
											<img src="img/article.png" alt="">
										</a>
										<div class="article-card__content card-content">
											<span class="article-date decor-title">29 Марта 2021</span>
											<h2 class="article-card__title block-title">
												<a href="page-article.html">Приглашение на первый в 2021 году вебинар</a>
											</h2>
											<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
										</div>
										
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="article-card__wrapper col-w-50 col-gutters">
									<article class="article-card card">
										
										<a href="page-article.html" class="article-card__thumbnail thumbnail">
											<img src="img/article.png" alt="">
										</a>
										<div class="article-card__content card-content">
											<span class="article-date decor-title">29 Марта 2021</span>
											<h2 class="article-card__title block-title">
												<a href="page-article.html">Приглашение на первый</a>
											</h2>
											<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
										</div>
										
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="article-card__wrapper col-w-50 col-gutters">
									<article class="article-card card">
										
										<a href="page-article.html" class="article-card__thumbnail thumbnail">
											<img src="img/article.png" alt="">
										</a>
										<div class="article-card__content card-content">
											<span class="article-date decor-title">29 Марта 2021</span>
											<h2 class="article-card__title block-title">
												<a href="page-article.html">Приглашение на первый в 2021 году вебинар</a>
											</h2>
											<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
										</div>
										
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="article-card__wrapper col-w-50 col-gutters">
									<article class="article-card card">
										
										<a href="page-article.html" class="article-card__thumbnail thumbnail">
											<img src="img/article.png" alt="">
										</a>
										<div class="article-card__content card-content">
											<span class="article-date decor-title">29 Марта 2021</span>
											<h2 class="article-card__title block-title">
												<a href="page-article.html">Приглашение на первый</a>
											</h2>
											<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
										</div>
										
									</article>
								</div>
								<!-- //Card -->


								<!-- Card -->
								<div class="article-card__wrapper col-w-50 col-gutters">
									<article class="article-card card">
										
										<a href="page-article.html" class="article-card__thumbnail thumbnail">
											<img src="img/article.png" alt="">
										</a>
										<div class="article-card__content card-content">
											<span class="article-date decor-title">29 Марта 2021</span>
											<h2 class="article-card__title block-title">
												<a href="page-article.html">Приглашение на первый в 2021 году вебинар</a>
											</h2>
											<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
										</div>
										
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="article-card__wrapper col-w-50 col-gutters">
									<article class="article-card card">
										
										<a href="page-article.html" class="article-card__thumbnail thumbnail">
											<img src="img/article.png" alt="">
										</a>
										<div class="article-card__content card-content">
											<span class="article-date decor-title">29 Марта 2021</span>
											<h2 class="article-card__title block-title">
												<a href="page-article.html">Приглашение на первый</a>
											</h2>
											<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
										</div>
										
									</article>
								</div>
								<!-- //Card -->


								
							</div>

							<!-- Pagination -->
							{% include '../parts/components/pagination.html' %}
							<!-- //Pagination -->

						</div>
						
					</div>
					<!-- //container -->
				</div>




				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>