{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="https://logodomik.ru/" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Контактная информация</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title">Контактная информация</h1>

					</div>
					<!-- //container -->
				</div>



				<div class="contacts">
					<div class="container">

						<div class="contacts-block">
							<div class="contacts-block__info col-w-50">
								<h2 class="block-title">Москва</h2>
								<div class="contacts-block__phones">
									<p>125009, Москва, Тверская улица, дом 13 <br><a href="tel:+7 495 641-11-21">+7 495 641-11-21</a> <br><a href="tel:+7 495 641-11-21">+7 495 641-11-22</a></p>
								</div>
								<a href="mailto:asdasd@asd.com">asdasd@asd.com</a>
							</div>
							<div class="contacts-block__map js-map col-w-50" data-latitude="55.76144463717139" data-longitude="37.60899554089076" id="map1"></div>
						</div>

						<div class="contacts-block">
							<div class="contacts-block__info col-w-50">
								<h2 class="block-title">Санкт-Петербург</h2>
								<div class="contacts-block__phones">
									<p>125009, Москва, Тверская улица, дом 13 <br><a href="tel:+7 495 641-11-21">+7 495 641-11-21</a> <br><a href="tel:+7 495 641-11-21">+7 495 641-11-22</a></p>
								</div>
								<a href="mailto:asdasd@asd.com">asdasd@asd.com</a>
							</div>
							<div class="contacts-block__map js-map col-w-50" data-latitude="55.76144463717139" data-longitude="37.60899554089076" id="map2"></div>
						</div>
					</div>
					<!-- //container -->
				</div>
				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>