{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-brand">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Thorlabs</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title block-title">Thorlabs</h1>

					</div>
					<!-- //container -->
				</div>


				<div class="brand">
					<div class="container">
						<div class="brand-content">
							<div class="brand-logo">
								<img src="img/brands/1.png" alt="">
							</div>

							<div class="row align-horisontal-between brand-content__row align-vertical-start">
								<div class="brand-content__text">
									<div class="content">
										<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide specific input to help us become a better manufacturer.</p>
										<p>My commitment to you is that if you take the time to respond, I will personally review each of these responses and factor them into our product development or improvement plans. Additionally, if you'd like to comment on our service, or ways to improve it, I would greatly appreciate the effort.</p>
										<p>Sincerely, <br>Alex Cable <br>Founder and President</p>
									</div>

									<button class="btn btn-transparent-accent js-open-request-popup-btn" type="button">Отправить запрос</button>
								</div>
								<div class="brand-photos">
									<div class="brand-photo__wrapper col-w-50">
										<div class="brand-photo thumbnail">
											<img src="img/brand-1.jpg" alt="">
										</div>
									</div>

									<div class="brand-photo__wrapper col-w-50">
										<div class="brand-photo thumbnail">
											<img src="img/brand-2.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="brand-products products-cards-slider__wrapper">
							<h2 class="block-title">Поставляемые товары</h2>

							<div class="products-cards-slider">
								<div class="swiper-container js-products-cards-slider">
									<div class="swiper-wrapper">
										<!-- Slide -->
										<div class="swiper-slide">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Slide -->
									</div>
								</div>

								<!-- Pagination -->
								<div class="slider-pagination js-products-cards-slider-pagination"></div>
								<!-- //Pagination -->

								<!-- Slider navigation -->
								<button class="slider-navigation__btn slider-navigation__btn--prev js-products-cards-slider-btn-prev" type="button">
									<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
										<polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
									</svg>
								</button>
								<button class="slider-navigation__btn slider-navigation__btn--next js-products-cards-slider-btn-next" type="button">
									<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
										<polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
									</svg>
								</button>
								<!-- //Slider navigation -->
							</div>
						</div>
					</div>
					<!-- //container -->
				</div>


				<div class="brand-news">
					<div class="container">
						<h2 class="block-title">Новости Thorlabs</h2>

						<div class="row align-horisontal-start articles-cards__row row-gutters">
							<!-- Card -->
							<div class="article-card__wrapper col-w-50 col-gutters">
								<article class="article-card card">

									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/article.png" alt="">
									</a>
									<div class="article-card__content card-content">
										<span class="article-date decor-title">29 Марта 2021</span>
										<h2 class="article-card__title block-title">
											<a href="page-article.html">Приглашение на первый в 2021 году вебинар</a>
										</h2>
										<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
									</div>

								</article>
							</div>
							<!-- //Card -->

							<!-- Card -->
							<div class="article-card__wrapper col-w-50 col-gutters">
								<article class="article-card card">

									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/article.png" alt="">
									</a>
									<div class="article-card__content card-content">
										<span class="article-date decor-title">29 Марта 2021</span>
										<h2 class="article-card__title block-title">
											<a href="page-article.html">Приглашение на первый</a>
										</h2>
										<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
									</div>

								</article>
							</div>
							<!-- //Card -->

						</div>
					</div>
					<!-- //container -->
				</div>




				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>