{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light page-catalog">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Раздел продуктов</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title block-title">Раздел продуктов</h1>

					</div>
					<!-- //container -->
				</div>


				<div class="catalog">
					<div class="container">

						<div class="catalog-cards">
							<div class="row align-horisontal-start catalog-cards__row row-gutters">
								<!-- Card -->
								<div class="catalog-card__wrapper col-w-50 col-gutters">
									<div class="catalog-card card">
										
										<a href="page-subcatalog.html" class="catalog-card__thumbnail">
											<img src="img/catalog/1.png" alt="">
										</a>
										<div class="catalog-card__content card-content">
											<h2 class="catalog-card__title decor-title block-title">
												<a href="page-subcatalog.html">Оптомеханика</a>
											</h2>
											<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide specific input to help us become a better manufacturer.</p>
										</div>
										
									</div>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="catalog-card__wrapper col-w-50 col-gutters">
									<div class="catalog-card card">
										
										<a href="page-subcatalog.html" class="catalog-card__thumbnail">
											<img src="img/catalog/2.png" alt="">
										</a>
										<div class="catalog-card__content card-content">
											<h2 class="catalog-card__title decor-title block-title">
												<a href="page-subcatalog.html">Оптика</a>
											</h2>
											<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer</p>
										</div>
									</div>
									
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="catalog-card__wrapper col-w-50 col-gutters">
									<div class="catalog-card card">
										
										<a href="page-subcatalog.html" class="catalog-card__thumbnail">
											<img src="img/catalog/3.png" alt="">
										</a>
										<div class="catalog-card__content card-content">
											<h2 class="catalog-card__title decor-title block-title">
												<a href="page-subcatalog.html">Волоконные компоненты</a>
											</h2>
											<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide specific input to help us become a better manufacturer.</p>
										</div>
										
									</div>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="catalog-card__wrapper col-w-50 col-gutters">
									<div class="catalog-card card">
										
										<a href="page-subcatalog.html" class="catalog-card__thumbnail">
											<img src="img/catalog/4.png" alt="">
										</a>
										<div class="catalog-card__content card-content">
											<h2 class="catalog-card__title decor-title block-title">
												<a href="page-subcatalog.html">Источники излучения</a>
											</h2>
											<p>Thorlabs has been in a quiet partnership with our customers for years.</p>
										</div>
										
									</div>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="catalog-card__wrapper col-w-50 col-gutters">
									<div class="catalog-card card">
										
										<a href="page-subcatalog.html" class="catalog-card__thumbnail">
											<img src="img/catalog/5.png" alt="">
										</a>
										<div class="catalog-card__content card-content">
											<h2 class="catalog-card__title decor-title block-title">
												<a href="page-subcatalog.html">Системы регистрации излучения</a>
											</h2>
											<p>Thorlabs has been in a quiet partnership with our customers for years. Thorlabs has been in a quiet partnership with our customers for years. Thorlabs has been in a quiet partnership with our customers for years.</p>
										</div>
									</div>
									
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="catalog-card__wrapper col-w-50 col-gutters">
									<div class="catalog-card card">
										
										<a href="page-subcatalog.html" class="catalog-card__thumbnail">
											<img src="img/catalog/6.png" alt="">
										</a>
										<div class="catalog-card__content card-content">
											<h2 class="catalog-card__title decor-title block-title">
												<a href="page-subcatalog.html">Системы регистрации излучения</a>
											</h2>
											<p>Thorlabs has been in a quiet partnership with our customers for years. Thorlabs has been in a quiet partnership with our customers for years. Thorlabs has been in a quiet partnership with our customers for years.</p>
										</div>
									</div>
									
								</div>
								<!-- //Card -->
							</div>
						</div>
						
					</div>
					<!-- //container -->
				</div>




				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>