{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>

								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Результаты поиска</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title block-title">Результаты поиска</h1>

					</div>
					<!-- //container -->
				</div>


				<div class="search-results__wrapper">
					<div class="container">
						<div class="search search-light">
							<form class="search-form">
								<div class="search-form__group">
									<input type="search" class="search-form__input" name="search" placeholder="Поиск" value="Оптоволокно">
									<button type="submit" class="search-form__btn">
										<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve">
											<path d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667
											S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6
											c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z
											M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z"/>
										</svg>
									</button>
								</div>
							</form>
						</div>

						<div class="search-results">

							<div class="search-results__cat">
								<h2 class="block-title">Товары <span>(4)</span></h2>

								<div class="product-cards">
									<div class="row align-horisontal-start product-cards__row row-gutters">

										<!-- Product-card -->
										<div class="product-card__wrapper col-gutters col-w-25">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Product-card -->

										<!-- Product-card -->
										<div class="product-card__wrapper col-gutters col-w-25">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/2.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Product-card -->

										<!-- Product-card -->
										<div class="product-card__wrapper col-gutters col-w-25">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/3.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Product-card -->

										<!-- Product-card -->
										<div class="product-card__wrapper col-gutters col-w-25">
											<article class="product-card">
												<a href="page-product.html" class="product-card__thumbnail">
													<img src="img/catalog/products/1.png" alt="">
												</a>
												<div class="product-card__content">
													<h2 class="product-card__title block-title">
														<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
													</h2>
													<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
												</div>
											</article>
										</div>
										<!-- //Product-card -->

									</div>

								</div>
							</div>

							<div class="search-results__cat">
								<h2 class="block-title">Статьи <span>(2)</span></h2>

								<div class="articles-cards">
									<div class="row align-horisontal-start articles-cards__row row-gutters">
										<!-- Card -->
										<div class="article-card__wrapper col-w-50 col-gutters">
											<article class="article-card card">

												<a href="page-article.html" class="article-card__thumbnail thumbnail">
													<img src="img/article.png" alt="">
												</a>
												<div class="article-card__content card-content">
													<span class="article-date decor-title">29 Марта 2021</span>
													<h2 class="article-card__title block-title">
														<a href="page-article.html">Приглашение на первый в 2021 году вебинар</a>
													</h2>
													<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
												</div>

											</article>
										</div>
										<!-- //Card -->

										<!-- Card -->
										<div class="article-card__wrapper col-w-50 col-gutters">
											<article class="article-card card">

												<a href="page-article.html" class="article-card__thumbnail thumbnail">
													<img src="img/article.png" alt="">
												</a>
												<div class="article-card__content card-content">
													<span class="article-date decor-title">29 Марта 2021</span>
													<h2 class="article-card__title block-title">
														<a href="page-article.html">Приглашение на первый</a>
													</h2>
													<p>Во время апрельского вебинара компания VIGO System предоставит обзор детекторов на основе... </p>
												</div>

											</article>
										</div>
										<!-- //Card -->

										



									</div>


								</div>
							</div>



						</div>
						<!-- //container -->
					</div>



				</section>
			</main>
			<!-- //Main -->

			<!-- Footer -->
			{% include '../parts/sections/footer.html' %}
			<!-- //Footer -->

			<!-- Request -->
			{% include '../parts/components/popups/request.html' %}
			<!-- //Request -->

		</div>
		<!-- //CONTENT WRAPPER -->

		{% include '../parts/scripts.html' %}

	</body>

	</html>