{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="page-inner page-inner-decor page-inner-decor-light page-catalog">

				<div class="page-entering">
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="page-catalog.html" class="breadcrumbs__link">
											<span itemprop="name">Раздел продуктов</span>
										</a>
										<meta itemprop="position" content="2">
									</span>
								</li>
								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link">
										<span itemprop="name">Подраздел товарной категории </span>
										<meta itemprop="position" content="3">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title block-title decor-title block-title">Оптомеханика</h1>

					</div>
					<!-- //container -->
				</div>


				<div class="catalog">
					<div class="container">

						<div class="product-cards">
							<div class="row align-horisontal-start product-cards__row row-gutters">
								
								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/1.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/2.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/3.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/4.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/1.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/2.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/3.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->

								<!-- Product-card -->
								<div class="product-card__wrapper col-gutters col-w-25">
									<article class="product-card">
										<a href="page-product.html" class="product-card__thumbnail">
											<img src="img/catalog/products/4.png" alt="">
										</a>
										<div class="product-card__content">
											<h2 class="product-card__title block-title">
												<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
											</h2>
											<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
										</div>
									</article>
								</div>
								<!-- //Product-card -->
							</div>

							<!-- Pagination -->
							{% include '../parts/components/pagination.html' %}
							<!-- //Pagination -->
						</div>
						
					</div>
					<!-- //container -->
				</div>




				

			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>