<nav class="nav">
	<ul class="nav-list">
		<li class="nav-list__item"><a class="nav-list__link" href="page-about.html">О компании</a></li>
		<li class="nav-list__item"><a class="nav-list__link" href="page-catalog.html">Продукты</a></li>
		<li class="nav-list__item"><a class="nav-list__link" href="page-brands.html">Производители</a></li>
		<li class="nav-list__item"><a class="nav-list__link" href="page-knowledges.html">Знания</a></li>
		<li class="nav-list__item"><a class="nav-list__link" href="page-blog.html">Новости</a></li>
		<li class="nav-list__item"><a class="nav-list__link" href="page-contacts.html">Контактная информация</a></li>
	</ul>
</nav>
