<div class="pagination__wrapper text-center">
	<a href="#" class="btn btn-transparent-accent">Показать еще</a>

	<div class="pagination">
		<ul class="pagination-list">
			<!-- Start -->
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">«</a>
			</li>
			<!-- //Start -->

			<!-- Prev -->
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">‹</a>
			</li>
			<!-- //Prev -->


			<li class="pagination-list__item">
				<span class="pagination-list__link is-active">1</span>
			</li>
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">2</a>
			</li>
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">3</a>
			</li>
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">4</a>
			</li>
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">5</a>
			</li>
			

			<!-- Next -->
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">›</a>
			</li>
			<!-- //Next -->

			<!-- End -->
			<li class="pagination-list__item">
				<a href="#" class="pagination-list__link">»</a>
			</li>
			<!-- //End -->
		</ul>
	</div>
</div>