.btn
	display inline-block
	padding 12px 25px
	line-height 1
	text-align center
	width 100%
	max-width 220px
	transition all .17s ease-in-out
	backface-visibility hidden
	font 16px $Reg
	color #313131
	background-color $accent-color
	border 2px solid transparent
	&:hover
		background-color $basic-white-color
		border-color $accent-color
		color $accent-color
	&-wide
		max-width 100%
		padding-left 10px
		padding-right 10px
	
	&-accent
		background-color $accent-color
		
	&-transparent
		border-color #777777
		background-color transparent
		color #474747
		&:hover
			color $basic-white-color
			border-color $accent-color
			background-color $accent-color
			
		&-accent
			background-color transparent
			color $accent-color !important
			border-color $accent-color
			&:hover
				color #313131 !important
				background-color $accent-color
		
							
					
	&-dark
		background-color $basic-black-color
		
	&-close
		display inline-block
		width 24px
		height 24px
		svg
			svg()
			opacity .6
			fill #5e5e5e
		&:hover
			svg
				opacity 1
				fill $accent-color
		
	&-arrow
		display inline-block
		width 15px
		height 15px
		position relative
		pointer-events none
		transform translate(-180deg)
		&:before
			pseudo()
			position absolute
			position-center()
			width 0
			height 0
			border-style solid
			border-width 11px 5.5px 0 5.5px
			border-color $accent-color transparent transparent transparent
		&.is-active
			transform rotate(-180deg)
			
		&-link
			display inline-block
			width 15px
			height 15px
			background url('../img/icons/svg/right-arrow.svg') 50% 50% no-repeat / contain
			&.is-active
				transform rotate(90deg)
				background-color $nav-sublist-link-bg !important
		
	&-toggle
		display inline-block
		width 30px
		height 30px
		svg
			position absolute
			position-center()
			width 20px
			
			fill #e2e2e2
			transition fill .17s ease-in-out
		&:hover
			svg
				fill $accent-color
				
	&-tab
		display inline-block
		font 16px $Reg
		color #777777
		padding 17px
		text-align center
		margin-right -4px
		background-color #e2e2e2
		span
			display inline-block
			border-bottom 2px solid transparent
			transition border-color .17s ease-in-out
			pointer-events none
		&:hover
			span
				border-color $accent-color
		&.is-active
			background-color $basic-white-color
			color #313131
			span
				border-color $accent-color

	&-hamburger
		display none
		flex none
		width 40px
		height 40px
		position relative
		transition background-color .17s ease-in-out
		margin-left 11px
		margin-right -5px
		span
			width 27px
			height 2px
			background-color $basic-white-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			span
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
					
	&-toggle-phones
		width 24px
		height 24px
		background url('../img/icons/svg/telephone.svg') no-repeat / contain
		margin-left 15px
		display none
		
	&-toggle-search
		width 24px
		height 24px
		background url('../img/icons/svg/loupe.svg') no-repeat / contain
		display none
		margin-right 	15px


button[type=submit]
	color #303030