input[type="search"]
	appearance none
	-webkit-appearance none			

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	appearance none
	-webkit-appearance none
	backface-visibility hidden
	transform translate3d(0,0,0)

form
	.btn
		margin-top 23px

.search
	width 100%
	flex 1
	max-width 300px
	&-form
		width 100%
		&__group
			position relative
		&__input
			display block
			width 100%
			border 1px solid #999999
			color $basic-white-color
			font 16px $Reg
			padding 13px 50px 13px 24px
			&:hover,
			&:focus
				border-color $accent-color
			&::-webkit-input-placeholder
				16px $Reg
				color #999999
			&::-moz-placeholder
				16px $Reg
				color #999999
			&:-moz-placeholder
				16px $Reg
				color #999999
			&:-ms-input-placeholder
				16px $Reg
				color #999999
				
		&__btn
			display inline-block
			width 22px
			height 22px
			position absolute
			vertical-center()
			right 19px
			svg
				svg()
				fill #c6c6c6
			&:hover
				svg
					fill $accent-color
			


.form
	&-input
		display block
		width 100%
		padding 13px 29px
		text-align left
		background-color $basic-white-color
		border 1px solid $input-border-color
		font 18px $PtNarrow
		color $secondary-text-color 
		pointer-events auto
		&:hover,
		&:focus
			border-color $accent-color
		&::-webkit-input-placeholder
			font 18px $PtNarrow 
			letter-spacing 0.025em
			color $ultralight-text-color
		&::-moz-placeholder
			font 18px $PtNarrow 
			letter-spacing 0.025em
			color $ultralight-text-color
		&:-moz-placeholder
			font 18px $PtNarrow 
			letter-spacing 0.025em
			color $ultralight-text-color
		&:-ms-input-placeholder
			font 18px $PtNarrow 
			letter-spacing 0.025em
			color $ultralight-text-color
			
		&.is-error
			border-color $error-color

			
		
			
	&-group
		position relative
		margin-bottom 10px
		&:last-child
			margin-bottom 0
			
		&__label
			display block
			position relative
			font 18px $PtNarrow 
			letter-spacing 0.025em
			color $ultralight-text-color
			line-height 1
			
			&--text
				pointer-events none
				position absolute
				vertical-center()
				left 29px
				margin-top -2px
				
			&-inline
				display inline-block
				position absolute
				left 0
				vertical-center()
				font 18px $PtNarrow
				letter-spacing 0.025em
				color #919191
				
			&--textarea
				span
					transform none
					top 13px
				
	&-textarea
		min-height 200px
		
	&-notice
		font 18px $PtNarrow
		letter-spacing 0.025em
		margin-bottom 13px
		color $ultralight-text-color
		span
			display inline-block
			margin-right 14px
	
.required
	font 20px $Bold
	color $accent-color

.error
	color $error-color
	margin-top 19px
	font 18px $PtNarrow
	letter-spacing 0.025em
	display none
	&.is-error
		display block

.form
	&-checkbox
		display inline-block
		position relative
		padding-left 29px
		font 18px $PtNarrow
		letter-spacing 0.025em
		color $ultralight-text-color
		line-height 1
		&:before
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 0
			top 0
			width 20px
			height 20px
			border 1px solid $input-border-color
			background-position 50% 50%
			background-repeat no-repeat
			background-size 12px 12px
			background-color $basic-white-color
			
		&__static
			width 20px
			height 20px
			padding-left 0
			&:before
				position relative
				top auto
				left auto
			
			
		&__label
			display inline-block
			input
				display none
				&:checked
					+ span
						&:before
							background-image url('../img/icons/svg/checkbox-ic.svg')
							
.form
	&-radio
		display inline-block
		position relative
		padding-left 25px
		font 1em $Reg
		line-height 1
		color $text-color
		&:before
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 0
			vertical-center()
			border-radius 50%
			width 16px
			height 16px
			border 1px solid $text-color
		&:after
			pseudo()
			transition all .17s ease-in-out
			position absolute
			left 2px
			top 2px
			width 12px
			height 12px
			border-radius 50%
			background-color $text-color
			display none
			

			
		&__label
			display inline-block
			input
				display none
				&:checked
					+ span
						&:after
							display block


