.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
	&-pagination
		text-align center
		.swiper-pagination-bullet
			outline none
			opacity 1
			border-radius 0
			margin-right 13px
			margin-bottom 6.5px
			width 16px
			height 8px
			background transparent
			position relative
			&:before
				pseudo()
				position absolute
				left 0
				top 0
				height 100%
				width 50%
				background-color #a2a2a2
				transition width .17s ease-in-out
			&:last-child
				margin-right 0
			&-active
				&:before
					width 100%
					background-color $accent-color
					
	&-navigation__btn
		display inline-block
		width 36px
		height 36px
		border 1px solid #e2e2e2
		position absolute
		z-index 1
		vertical-center()
		svg
			fill #e2e2e2
			transition fill .17s ease-in-out
			width 16px
			position absolute
		&--prev
			left 30px
			svg
				left 50%
				top 50%
				transform translate(-50%, -50%) rotate(90deg)
		&--next
			right 30px
			
			svg
				left 50%
				top 50%
				transform translate(-50%, -50%) rotate(-90deg)
		&:hover
			border-color $accent-color
			svg
				fill $accent-color
			
.swiper-container
	*
		box-sizing border-box
		

.promo-slider
	background-color $basic-white-color
	position relative
	.slider-pagination
		position absolute
		z-index 2
		horisontal-center()
		bottom 36px
		margin 0
	.swiper-slide
		height auto
		

.products-cards-slider
	position relative
	.block-title
		margin-bottom 30px
		
	.swiper-slide
		height auto
		
	.slider-pagination
		margin-top 20px
		display none