<div class="brands-cards">
	<div class="row align-horisontal-start brands-cards__row row-gutters">
		<!-- Brand card -->
		<div class="brand-card__wrapper col-w-50 col-gutters">
			<div class="brand-card">
				<div class="brand-card__logo">
					<img src="img/brands/1.png" alt="">
				</div>
				<div class="brand-card__content">
					<h2 class="brand-card__title"><a href="page-brand.html">Thorlabs</a></h2>
					<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide specific input to help us become a better manufacturer.</p>
				</div>
				<a href="page-brand.html" class="btn btn-transparent">Подробнее</a>
			</div>
		</div>
		<!-- //Brand card -->

		<!-- Brand card -->
		<div class="brand-card__wrapper col-w-50 col-gutters">
			<div class="brand-card">
				<div class="brand-card__logo">
					<img src="img/brands/2.png" alt="">
				</div>
				<div class="brand-card__content">
					<h2 class="brand-card__title"><a href="page-brand.html">Gentec Electro-Optics</a></h2>
					<p>Thorlabs has been in a quiet partnership with our customers for years. </p>
				</div>
				<a href="page-brand.html" class="btn btn-transparent">Подробнее</a>
			</div>
		</div>
		<!-- //Brand card -->

		<!-- Brand card -->
		<div class="brand-card__wrapper col-w-50 col-gutters">
			<div class="brand-card">
				<div class="brand-card__logo">
					<img src="img/brands/3.png" alt="">
				</div>
				<div class="brand-card__content">
					<h2 class="brand-card__title"><a href="page-brand.html">Swabian instruments</a></h2>
					<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide specific input to help us become a better manufacturer.</p>
				</div>
				<a href="page-brand.html" class="btn btn-transparent">Подробнее</a>
			</div>
		</div>
		<!-- //Brand card -->

		<!-- Brand card -->
		<div class="brand-card__wrapper col-w-50 col-gutters">
			<div class="brand-card">
				<div class="brand-card__logo">
					<img src="img/brands/4.png" alt="">
				</div>
				<div class="brand-card__content">
					<h2 class="brand-card__title"><a href="page-brand.html">Gentec Electro-Optics</a></h2>
					<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide</p>
				</div>
				<a href="page-brand.html" class="btn btn-transparent">Подробнее</a>
			</div>
		</div>
		<!-- //Brand card -->

		<!-- Brand card -->
		<div class="brand-card__wrapper col-w-50 col-gutters">
			<div class="brand-card">
				<div class="brand-card__logo">
					<img src="img/brands/5.png" alt="">
				</div>
				<div class="brand-card__content">
					<h2 class="brand-card__title"><a href="page-brand.html">Thorlabs</a></h2>
					<p>Thorlabs has been in a quiet partnership with our customers for years. We'd like to take this ongoing dialog and make it more effective by asking you, our customer, to provide specific input to help us become a better manufacturer.</p>
				</div>
				<a href="page-brand.html" class="btn btn-transparent">Подробнее</a>
			</div>
		</div>
		<!-- //Brand card -->
	</div>
</div>