<div class="product-content">
	<div class="container">
		<div class="row product__row align-horisontal-start align-vertical-start">

			<div class="product-slider__col">
				<div class="product-slider__wrapper">
					<div class="slider-loader js-product-slider-loader"></div>
					<div class="product-slider__main">
						<div class="swiper-container js-product-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<a href="img/product.jpg" data-fancybox="gallery" class="product-slide">
										<img src="img/product.jpg" alt="">
									</a>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<a href="img/product.jpg" data-fancybox="gallery" class="product-slide">
										<img src="img/product.jpg" alt="">
									</a>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<a href="https://www.youtube.com/watch?v=ydstajr-MvY" data-fancybox="gallery" class="product-slide is-video">
										<img src="img/product.jpg" alt="">
									</a>
								</div>
								<!-- //Slide -->
							</div>
						</div>
					</div>

					<!-- Thumbnails -->
					<div class="product-slider__thumbnails">
						<div class="swiper-container js-product-slider-thumbnails">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="product-slide-thumbnail">
										<img src="img/mini.png" alt="">
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="product-slide-thumbnail">
										<img src="img/mini.png" alt="">
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="product-slide-thumbnail">
										<img src="img/icons/svg/play.svg" alt="" class="product-slide-thumbnail__play">
									</div>
								</div>
								<!-- //Slide -->
							</div>
						</div>
					</div>
					<!-- //Thumbnails -->
				</div>


			</div>

			<div class="product-content__col">
				<div class="product-content__wrapper">
					<h1 class="block-title">PDB465C <br>Балансный фотодетектор </h1>
					<p class="product-manufacturer">Производитель: Thorlabs, Германия</p>
					<div class="product-content__text content">
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
						<p>PDB465C — Балансный фотодетектор с трансимпедансным усилителем и постоянным коэффициентом усиления, диапазон рабочих частот до 200 МГц, InGaAs фотодиоды, Thorlabs</p>
					</div>

					<div class="product-prices">
						<div class="product-price__col">
							<span class="product-price__label">Цена</span>
							<p class="product-price product-price-main">25 990 ₽</p>
						</div>
						<div class="product-price__col">
							<span class="product-price__label">НДС</span>
							<p class="product-price">1 550 ₽</p>
						</div>
						<div class="product-price__col">
							<span class="product-price__label">Пошлина</span>
							<p class="product-price">890 ₽</p>
						</div>
					</div>

					<div class="product-tools">
						<button class="btn js-add-to-cart-btn" data-product-price="25 990 ₽" data-product-img="img/product.jpg" type="button">В корзину</button>
						<button class="btn btn-transparent-accent js-open-request-popup-btn"  type="button">Отправить запрос</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>