<div class="products-cards-slider">
	<div class="swiper-container js-products-cards-slider">
		<div class="swiper-wrapper">
			<!-- Slide -->
			<div class="swiper-slide">
				<article class="product-card">
					<a href="page-product.html" class="product-card__thumbnail">
						<img src="img/catalog/products/1.png" alt="">
					</a>
					<div class="product-card__content">
						<h2 class="product-card__title block-title">
							<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
						</h2>
						<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
					</div>
				</article>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<article class="product-card">
					<a href="page-product.html" class="product-card__thumbnail">
						<img src="img/catalog/products/2.png" alt="">
					</a>
					<div class="product-card__content">
						<h2 class="product-card__title block-title">
							<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
						</h2>
						<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
					</div>
				</article>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<article class="product-card">
					<a href="page-product.html" class="product-card__thumbnail">
						<img src="img/catalog/products/3.png" alt="">
					</a>
					<div class="product-card__content">
						<h2 class="product-card__title block-title">
							<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
						</h2>
						<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
					</div>
				</article>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<article class="product-card">
					<a href="page-product.html" class="product-card__thumbnail">
						<img src="img/catalog/products/4.png" alt="">
					</a>
					<div class="product-card__content">
						<h2 class="product-card__title block-title">
							<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
						</h2>
						<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
					</div>
				</article>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<article class="product-card">
					<a href="page-product.html" class="product-card__thumbnail">
						<img src="img/catalog/products/2.png" alt="">
					</a>
					<div class="product-card__content">
						<h2 class="product-card__title block-title">
							<a href="page-product.html">1HT - Сотовая оптическая плита. Оптический стол Standa</a>
						</h2>
						<p>Оптическая плита 1HT - надежная рабочая поверхность для сборки оптических систем.</p>
					</div>
				</article>
			</div>
			<!-- //Slide -->
		</div>
	</div>

	<!-- Pagination -->
	<div class="slider-pagination js-products-cards-slider-pagination"></div>
	<!-- //Pagination -->

	<!-- Slider navigation -->
	<button class="slider-navigation__btn slider-navigation__btn--prev js-products-cards-slider-btn-prev" type="button">
		<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
			<polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
		</svg>
	</button>
	<button class="slider-navigation__btn slider-navigation__btn--next js-products-cards-slider-btn-next" type="button">
		<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
			<polygon points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
		</svg>
	</button>
	<!-- //Slider navigation -->
</div>