//  Fonts 

$Light = 'OpenSans-Light', Arial, sans-serif
$LightItalic = 'OpenSans-LightItalic', Arial, sans-serif

$Reg = 'OpenSans-Regular', Arial, sans-serif

$Bold = 'OpenSans-Bold', Arial, sans-serif
$BoldItalic = 'OpenSans-BoldItalic', Arial, sans-serif

$ExBold = 'OpenSans-ExtraBold', Arial, sans-serif
$ExBoldItalic = 'OpenSans-ExtraBoldItalic', Arial, sans-serif

$SemiBold = 'OpenSans-SemiBold', Arial, sans-serif
$SemiBoldItalic = 'OpenSans-SemiBoldItalic', Arial, sans-serif

$PtNarrow = 'PTSans-Narrow', Arial, sans-serif
$PtNarrowBold = 'PTSans-NarrowBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body Reg
$body-font-family = $Light
$body-font-size = 16px
$body-line-height = 1.4

// Sizes
$container-width = 1440px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #f99b1c
$secondary-color = green

$text-color = #000
$secondary-text-color = #303030
$alternate-text-color = #121212
$light-text-color = #474747
$alternate-light-text-color = #c6c6c6
$ultralight-text-color = #919191

$product-text-color = #5e5e5e

$card-text-color = #777777

$basic-white-color = #fff
$basic-black-color = #000


$nav-sublist-link-bg = #c6c6c6
$nav-sublist-link-hover-bg = #e2e2e2
$nav-sublist-link-color = #303030

$input-border-color = #c6c6c6

$error-color = #df0000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #303030
$footer-bg = #303030

$dark-bg = #1b1b1b
$alternate-dark-bg = #262626

$light-bg = #f1f1f1

$blockquote-bg = #fff4e4

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .4
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========