// Login
.login-tabs
	max-width 685px
	
	.btn-tab
		width 100%
		max-width 220px
		
	.tab-content-item
		min-height 730px
		
	form
		max-width 330px
		
.tab-content
	background-color $basic-white-color