.page-brand
	padding-bottom 0

.brand
	padding-bottom 60px
	&-logo
		margin-bottom 40px
		img
			display block
			width auto
			max-width 270px
			
	&-content
		&__text
			flex 1
			padding-right 40px
			
		.btn
			margin-top 40px
			
	&-photos
		margin-right -15px
		margin-left -15px
		flex 1
		width 100%
		max-width 690px
		display flex
		flex-wrap wrap
		
	&-photo
		width 100%
		padding-top 100%
		&__wrapper
			padding-left 15px
			padding-right 15px
			margin-bottom 30px
			

	&-products
		margin-top 100px
		.block-title
			margin-bottom 30px
			

	&-news
		padding 40px 0 90px
		background $light-bg url('../img/backgrounds/waves-cat.png') bottom right no-repeat
		.block-title
			margin-bottom 30px