
.article-card
	&__wrapper
		margin-bottom 30px
	&__thumbnail
		width 50%
		padding-top 0
	&__content
		width 50%
		padding-bottom 15px
		
	&__title
		margin-bottom 27px
		a
			color $alternate-text-color
			&:hover
				color $accent-color
		
.article-date
	font 18px $PtNarrow
	color $card-text-color
	padding-left 17px
	padding-top 0
	padding-bottom 0
	margin-bottom 28px
	display block
	&:before
		width 5px
		

// Article

.page-article
	padding 0
	

.article
	margin 0 auto
	max-width 760px
	&-content
		max-width 685px
	&-container
		background-color $basic-white-color
		padding 30px 30px 90px
		
		.breadcrumbs
			margin-bottom 20px
			
	.page-title
		margin-bottom 20px
		
	.article-date
		margin-bottom 30px
		
