// Login
.login-tabs
	max-width 685px
	
	.btn-tab
		width 100%
		max-width 220px
		
	.tab-content-item
		min-height 730px
		
	form
		max-width 330px
		
.tab-content
	background-color $basic-white-color
	
// 404
.page-error
	padding-bottom 200px
	
.block-404__error
	margin 0 auto
	max-width 530px
	color #313131
	
	span
		display block
		
	&--label
		font 30px $Reg
		
	&--code
		font-size 233px
		line-height 1
		margin-bottom 30px
		
	p
		font 18px $PtNarrow
		color $secondary-text-color
		a
			color $accent-color
			border-bottom 1px solid
			&:hover
				color $text-color
		
		